{% extends 'base.html.twig' %}

{% block title %}Player Characteristics{% endblock %}

{% block body %}

    <h1>PLayer Id : n°{{ player.id }}</h1>

    <div>
        <ul>
            <li>
                Mood : {{ player.mood }}
            </li>
            <li>
                Sleep : {{ player.sleep }}
            </li>
            <li>
                Charisma : {{ player.charisma }}
            </li>
            <li>
                Pedagogy : {{ player.pedagogy }}
            </li>
        </ul>
    </div>

{% endblock %}
