{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}
    <h1>Answer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description de la réponse</th>
                <th>Question liée</th>
                <th>L'effet sur le Teacher</th>
                <th>L'effet sur les Students</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.descriptionAnswer }}</td>
                <td>{{ answer.question.nameQuestion }}</td>

                <td>
                    {% for effectPlayer in answer.effectPlayers %}
                        {{ effectPlayer.characteristicPlayer }}
                    {%endfor%}
                </td>

                <td>{% for effectStudent in answer.effectStudents %}
                    {{ answer.effectStudent.characteristicStudent }}
                    {%endfor%}
                </td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answer_new') }}">Create new</a>
{% endblock %}
