{% extends 'base.html.twig' %}

{% block title %}{{ event.nameQuestion }}{% endblock %}

{% block body %}

    <h1>{{ event.nameQuestion }}</h1>

    <p>{{ event.descriptionQuestion }}</p>

    <table>
        <tr>
            {% for answer in answers %}
                <th>
                    <a href="/{{ path('playerUpdate', {'id': '3'}) }}">
                        <button type="button">
                            {{ answer.getDescriptionAnswer }}
                        </button>
                    </a>
                </th>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
