{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
    <h1>La partie est malencontreusement finit...</h1>
    <h2>Voici le résultat de votre partie :</h2>

    <h3>Vous :</h3>

    <table>
        <tr>
            <td>
                Humeur :
            </td>
            <td>
                {{ game.player.mood }}
            </td>
        </tr>
        <tr>
            <td>
                Sommeil :
            </td>
            <td>
                {{ game.player.sleep }}
            </td>
        </tr>
        <tr>
            <td>
                Pédagogie :
            </td>
            <td>
                {{ game.player.pedagogy }}
            </td>
        </tr>
        <tr>
            <td>
                Charisme :
            </td>
            <td>
                {{ game.player.charisma }}
            </td>
        </tr>
    </table>

    <h3>Vos élèves :</h3>

    <table>
        {% for student in game.students %}
            <tr>
                <td>
                    Etudiant :
                </td>
                <td>
                    {{ student.id }}
                </td>
                <td>
                    Assiduité :
                </td>
                <td>
                    {{ student.attendance }}
                </td>
                <td>
                    Notes :
                </td>
                <td>
                    {{ student.grade }}
                </td>
                <td>
                    Est en échec :
                </td>
                <td>
                    {% if student.isFailure == 0 %}
                        Non
                    {% else %}
                        Oui
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Les étudiants en échec scolaire :</h3>

    <table>
        {% for student in failed_students %}
            <tr>
                <td>
                    Etudiant :
                </td>
                <td>
                    {{ student.id }}
                </td>
                <td>
                    Assiduité :
                </td>
                <td>
                    {{ student.attendance }}
                </td>
                <td>
                    Notes :
                </td>
                <td>
                    {{ student.grade }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
