{% extends 'base.html.twig' %}

{% block title %}EffectPlayer index{% endblock %}

{% block body %}
    <h1>EffectPlayer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ValueEffectPlayer</th>
                <th>CharacteristicPlayer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for effect_player in effect_players %}
            <tr>
                <td>{{ effect_player.id }}</td>
                <td>{{ effect_player.valueEffectPlayer }}</td>
                <td>{{ effect_player.characteristicPlayer }}</td>
                <td>
                    <a href="{{ path('effect_player_show', {'id': effect_player.id}) }}">show</a>
                    <a href="{{ path('effect_player_edit', {'id': effect_player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('effect_player_new') }}">Create new</a>
{% endblock %}
