{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

    <div class="jumbotron">
        <table class="table table-hover">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col">Pseudo : {{user.pseudo}}</th>
                        <th scope="col">ID du joueur : {{player.id}}</th>
                        <th scope="col">ID Game: {{game.id}}</th>
                        <th scope="col">Tour : {{game.turn}}</th>
                        <th scope="col">DayTime : {{game.dayTime}}</th>
                        <th scope="col">Humeur : {{player.mood}}</th>
                        <th scope="col">Pédagogie : {{player.pedagogy}}</th>
                        <th scope="col">Charisme :{{player.charisma}}</th>
                    </tr>
                </thead>
            </tbody>
        </table>
        <hr class="my-4">
        <p>On mettra ici le desktop</p>
    </div>
{% endblock %}
