{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Turn</th>
                <td>{{ game.turn }}</td>
            </tr>
            <tr>
                <th>DayTime</th>
                <td>{{ game.dayTime }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ game.createdAt ? game.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="jumbotron">
        <table class="table table-hover">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col">{{ game.player }}</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                        <th scope="col">Column heading</th>
                    </tr>
                </thead>
            </tbody>
        </table>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
