{% extends 'base.html.twig' %}

{% block title %}EffectStudent{% endblock %}

{% block body %}
    <h1>EffectStudent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ effect_student.id }}</td>
            </tr>
            <tr>
                <th>ValueEffectStudent</th>
                <td>{{ effect_student.valueEffectStudent }}</td>
            </tr>
            <tr>
                <th>CharacteristicStudent</th>
                <td>{{ effect_student.characteristicStudent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('effect_student_index') }}">back to list</a>

    <a href="{{ path('effect_student_edit', {'id': effect_student.id}) }}">edit</a>

    {{ include('effect_student/_delete_form.html.twig') }}
{% endblock %}
