{% extends 'base.html.twig' %}


{% block title %}Le Bureau{% endblock %}

{% block body %}
    <div class="jumbotron">
        <table class="table table-hover">
            <tr>
                <td>Pseudo : {{game.user.pseudo}}</td>
                <td>ID du joueur : {{game.player.id}}</td>
                <td>ID Game : {{game.id}}</td>
                <td>Tour : {{game.turn}}</td>
                <td>DayTime : {{game.dayTime}}</td>
                <td>Humeur : {{game.player.mood}}</td>
                <td>Pédagogie : {{game.player.pedagogy}}</td>
                <td>Charisme :{{game.player.charisma}}</td>
            </tr>
        </table>
        <hr class="my-4">
    </div>
    <h1>ConfinementClassroom</h1>

    <a type="button" href="{{ path('desktop_event') }}">Netflip</a>
    <a type="button" href="{{ path('boom') }}">Boom</a>
    <a type="button" href="{{ path('boom') }}">What's Up</a>
    <a type="button" href="{{ path('boom') }}">Mail</a>
    <a type="button" href="{{ path('boom') }}">Arrêter</a>

{% endblock %}
