{% extends 'base.html.twig' %}


{% block title %}Le Bureau{% endblock %}

{% block body %}
    <div class="jumbotron">
        <table class="table table-hover">
            <tr>
                <td>Pseudo : {{game.user.pseudo}}</td>
                <td>ID du joueur : {{game.player.id}}</td>
                <td>ID Game : {{game.id}}</td>
                <td>Tour : {{game.turn}}</td>
                <td>DayTime :
                    {% if game.dayTime == 0 %}
                        Matin
                    {% elseif game.dayTime == 1 %}
                        Midi
                    {% else %}
                        Soir
                    {% endif %}
                </td>
                <td>Humeur : {{game.player.mood}}</td>
                <td>Sommeil : {{ game.player.sleep }}</td>
                <td>Pédagogie : {{game.player.pedagogy}}</td>
                <td>Charisme :{{game.player.charisma}}</td>
            </tr>
        </table>
        <hr class="my-4">
    </div>
    <h1>ConfinementClassroom</h1>
    <div class="bouton">
    <div class="fonctionnalité">
    <a href="{{ path('netflip') }}" class="Netflip-button"><button class="Netflip-buttoncolor">Netflip</button></a>
    <a href="{{ path('boom') }}" class="Boom-button"><button class="Boom-buttoncolor">Boom</button></a>
    <a href="{{ path('desktop_event') }}" class="Mail-button"><button class="Mail-buttoncolor">Mail</button></a>
    <a href="{{ path('journal') }}" class="Journal-button"><button class="Journal-buttoncolor">Journal</button></a>
    </div>

    <a href="{{ path('menu') }}" class="Arreter-button"><button class="Arreter-buttoncolor">Arrêter</button></a>
    </div>

{% endblock %}
