{% extends 'base.html.twig' %}


{% block title %}Le Bureau{% endblock %}

{% block body %}
    <div class="jumbotron">
        <table class="table table-hover">
            <tr>
                <td>Pseudo : {{game.user.pseudo}}</td>
                <td>ID du joueur : {{game.player.id}}</td>
                <td>ID Game : {{game.id}}</td>
                <td>Tour : {{game.turn}}</td>
                <td>DayTime :
                    {% if game.dayTime == 0 %}
                        Matin
                    {% elseif game.dayTime == 1 %}
                        Midi
                    {% else %}
                        Soir
                    {% endif %}
                </td>
                <td>Humeur : {{game.player.mood}}</td>
                <td>Sommeil : {{ game.player.sleep }}</td>
                <td>Pédagogie : {{game.player.pedagogy}}</td>
                <td>Charisme :{{game.player.charisma}}</td>
            </tr>
        </table>
        <hr class="my-4">
    </div>
    <h1>ConfinementClassroom</h1>

    <a href="{{ path('netflip') }}"><button>Netflip</button></a>
    <a href="{{ path('boom') }}"><button>Boom</button></a>
    <a href="{{ path('desktop_event') }}"><button>Mail</button></a>
    <a href="{{ path('menu') }}"><button>Arrêter</button></a>

    <p>Cher journal : ... </p>
    {% if answer is defined %}
        {% if answer.effectPlayers|length > 1%}
            {% for effectPlayer in answer.effectPlayers %}
                <p>
                    {{ effectPlayer.characteristicPlayer }}
                    {% if effectPlayer.valueEffectPlayer > 0 %}
                        + {{ effectPlayer.valueEffectPlayer }}
                    {% else %}
                        - {{ effectPlayer.valueEffectPlayer }}
                    {% endif %}
                </p>
            {% endfor %}
        {% elseif answer.effectStudents|length > 1%}
            {% for effectStudent in answer.effectStudents %}
                <p>
                    {{ effectStudent.characteristicStudent }}
                    {% if effectStudent.valueEffectStudent > 0 %}
                        + {{ effectStudent.valueEffectStudent }}
                    {% else %}
                        - {{ effectStudent.valueEffectPlayer }}
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}
    {% endif %}

    <table>
        <tr>
            <td>
                Vos élèves :
            </td>
        </tr>
        {% for student in game.students %}
            <tr>
                <td>
                    {{ student.name }} :
                </td>
                <td>
                    Assiduité :
                </td>
                <td>
                    {{ student.attendance }}
                </td>
                <td>
                    Moyenne :
                </td>
                <td>
                    {{ student.grade }}
                </td>
                <td>
                    Est en échec :
                </td>
                <td>
                    {% if student.isFailure == 0 %}
                        Non
                    {% else %}
                        Oui
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <br/>Les étudiants en échec scolaire :
            </td>
        </tr>
        {% for student in game.students %}
            {% if student.grade < 10 %}
                <tr>
                    <td>
                        {{ student.name }} :
                    </td>
                    <td>
                        Notes :
                    </td>
                    <td>
                        {{ student.grade }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
